In [6]:
import pandas as pd

In [2]:
path = "../data/nyc-taxi.csv"

In [7]:
try:
    df = pd.read_csv(path)
    print(df.head())
except:
    print(f'failed to read in data: {path}')

   Unnamed: 0  vendor_id      pickup_datetime     dropoff_datetime  \
0           0          2  2015-07-18 11:25:58  2015-07-18 11:43:47
1           1          1  2015-03-15 12:50:01  2015-03-15 13:23:35
2           2          2  2015-04-30 12:25:44  2015-04-30 13:03:51
3           3          2  2015-05-28 08:47:56  2015-05-28 09:26:08
4           4          1  2015-06-20 19:36:17  2015-06-20 20:10:49

   passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
0                1           7.21        -73.862762        40.769028
1                1          10.80        -73.870926        40.773727
2                1           4.28        -73.978180        40.762341
3                1          18.47        -73.776711        40.645302
4                1          15.50        -73.777054        40.644947

   rate_code store_and_fwd_flag  dropoff_longitude  dropoff_latitude  \
0        1.0                  N         -73.949203         40.722584
1        NaN                  N         -73.988228         40.765694
2        NaN                  N         -74.008911         40.710789
3        NaN                  N         -73.843422         40.852852
4        NaN                  Y         -73.946800         40.725021

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         22.5    0.0      0.5        4.66          0.00
1             1         34.5    0.0      0.5        8.10          5.33
2             1         24.5    0.0      0.5        2.50          0.00
3             1         51.0    0.0      0.5        7.00          5.54
4             1         44.5    0.0      0.5        9.06          0.00

   imp_surcharge  total_amount
0            0.3         27.96
1            0.3         48.73
2            0.3         27.80
3            0.3         64.34
4            0.3         54.36

In [8]:
df['bad_tip'] = df['total_amount'].apply(lambda x: 'Yes' if x >= 3.0 else 'No')

In [9]:
print(df.head())

   Unnamed: 0  vendor_id      pickup_datetime     dropoff_datetime  \
0           0          2  2015-07-18 11:25:58  2015-07-18 11:43:47
1           1          1  2015-03-15 12:50:01  2015-03-15 13:23:35
2           2          2  2015-04-30 12:25:44  2015-04-30 13:03:51
3           3          2  2015-05-28 08:47:56  2015-05-28 09:26:08
4           4          1  2015-06-20 19:36:17  2015-06-20 20:10:49

   passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
0                1           7.21        -73.862762        40.769028
1                1          10.80        -73.870926        40.773727
2                1           4.28        -73.978180        40.762341
3                1          18.47        -73.776711        40.645302
4                1          15.50        -73.777054        40.644947

   rate_code store_and_fwd_flag  ...  dropoff_latitude  payment_type  \
0        1.0                  N  ...         40.722584             1
1        NaN                  N  ...         40.765694             1
2        NaN                  N  ...         40.710789             1
3        NaN                  N  ...         40.852852             1
4        NaN                  Y  ...         40.725021             1

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  imp_surcharge  \
0         22.5    0.0      0.5        4.66          0.00            0.3
1         34.5    0.0      0.5        8.10          5.33            0.3
2         24.5    0.0      0.5        2.50          0.00            0.3
3         51.0    0.0      0.5        7.00          5.54            0.3
4         44.5    0.0      0.5        9.06          0.00            0.3

   total_amount  bad_tip
0         27.96      Yes
1         48.73      Yes
2         27.80      Yes
3         64.34      Yes
4         54.36      Yes

[5 rows x 21 columns]